{% extends 'base.html' %}

{% block title %} Market Place {% endblock %}

{% block body%}

<div class="row" style="margin-top: 25px;">
	<div class="col-8">
		<table class="table table-hover table-dark">
			<h2>Market page</h2>
			<thead>
			<tr>
				<th scope="col">Subject</th>
				<th scope="col">Unique_name</th>
				<th scope="col">Choose Answer</th>
				<th scope="col">T/F Answer</th>
			</tr>
			</thead>
			<tbody>
			{% for item in rd %}
				<tr>
					<td>HI</td>
					<td>HI</td>
					<td>HI</td>
					<td>HI</td>
					<td>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="col-4">
		<h6>Owned Items</h6>
		<br>

		<div class="row">
			<div class="col-md-6">
				<form method="POST" class="form-register">
					<label>Score</label>
					<input type='number' name="score" class="form-control">

					<label>Student Name:</label>
					<input type="text" name="name" class="form-control" value="{{ request.form['name'] }}">

					<label for="sub">Subject:</label>
					<select name="exam_id" id="sub">
						<option></option>
						{% for sub in rd %}
						<option value="{{sub[0]}}">{{sub[5]}}</option>
						{% endfor %}
					</select>

					<input type="submit" value="submit">

				</form>

			</div>
		</div>
	</div>
</div>

{% for x in rd_num %}
<h6>{{ rd_user[x][10] }}</h6>
{% endfor %}

{% endblock %}