{% extends 'base.html' %}

{% block title %} Check Evaluation {% endblock %}
{% block body %}

<div class="mini-container">

	{% if display == 'true' %}
	<div class="img_display">
		<div class="">
			<h3>Answer sheet</h3>
			<img class="pro-img" src="{{ url_for('process_live.shape', number=selected_number) }}" alt="{{ error }}">
		</div>
		<div class="">
			<h4>Proceed to Evaluation</h4>
			<a href="{{ url_for('process_live.evaluate', number=selected_number) }}"><input type="submit" value="Proceed" class="btn btn-primary"></a>
			<h4>If the aligned text is correctly placed, proceed to the evaluation.</h4>
		</div>
	</div>

	{% elif display == 'false' %}
	<div class="">
		<h3>Select camera Id:</h3>
		<form action="{{ url_for('process_live.check_shape') }}" method="POST">
	    <label for="number">Select a number from 1 to 10:</label>
		  <select name="number" id="number">
	      {% for n in range(0, 11) %}
	        <option value="{{ n }}">{{ n }}</option>
	      {% endfor %}
	    </select>
	    <input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
	{% endif %}

</div>




{% endblock %}