{% extends 'base.html' %}

{% block title %} Evaluate {% endblock %}

{% block body %}

<div class="mini-container">
	<div class="answer">
		<h3>Answer sheet</h3>
		<div class="live">
			<div class="live_img">
				<img class="pro-img" src="data:image/jpeg;base64,{{ img }}" alt="Processed Image">
				<img class="pro-img" src="data:image/jpeg;base64,{{ img2 }}" alt="Processed Image">
				<img class="pro-img" src="data:image/jpeg;base64,{{ img_tf }}" alt="Processed Image">
				<img class="pro-img" src="data:image/jpeg;base64,{{ img_match }}" alt="Processed Image">
			</div>
			<div class="info">
				<h3><u>Exam Info:</u></h3>
				<h4>Student Name: Saron Tamirat Kebede</h4>
				<h4>Score: 23</h4>
				<h4>Subject: Biology</h4>
				<input type="button" class="btn btn-primary" value="Submit">
			</div>
		</div>
	</div>

</div>




{% endblock %}