{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body%}
<div class="mini-container">
	<div class="table">
		<h2>Evaluation description</h2>
		<div class="">
			<h3>New Registerd score</h3>
			{% if new_result %}
			<div class="">
				<table class="custom-table">
					<tr>
						<th>Name</th>
						<th>Score</th>
					</tr>
					{% for name, score in new_result.items() %}
						<tr>
							<td class="lead font-weight-normal">{{name}}</td>
							<td class="lead font-weight-normal">{{score}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
				<p class="lead font-weight-normal">All the sheet has been already been registered</p>
			{% endif %}
		</div>

		<div class="existed">
			{% if existed %}
			<h3>Already Existed</h3>
			<div class="table">
				<table>
					<tr>
						<th>Name</th>
						<th>Score</th>
					</tr>
					{% for user, score in existed.items() %}
						<tr>
							<td>{{user}}</td>
							<td>{{score}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
