{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block head %}
	{{ super() }}
	<style>
		.pro-img{
      position: relative;
      width: 250px;
      height: 700px;
      color: red;
			background: green;
		}
		.info-label{
			display: grid;
			grid-template-columns: 70% 30%;
		}
		.ingo-right{
			display grid;
		}

		.images{
			display: flex;
			gap: 1rem;
		}
	</style>
{% endblock %}

{% block body%}
<div class="">
	<h2>Evaluation description</h2>
	<div class="body">
		<div class="new">
			<h3>New Registerd score</h3>
			{% if new_result %}
			<div class="table">
				<table>
					<tr>
						<th>Name</th>
						<th>Score</th>
					</tr>
					{% for name, score in new_result.items() %}
						<tr>
							<td class="lead font-weight-normal">{{name}}</td>
							<td class="lead font-weight-normal">{{score}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			{% else %}
				<p class="lead font-weight-normal">All the sheet has been already been registered</p>
			{% endif %}
		</div>

		<div class="existed">
			{% if existed != '' %}
			<h3>Already Existed</h3>
			<div class="table">
				<table>
					<tr>
						<th>Name</th>
						<th>Score</th>
					</tr>
					{% for user, score in existed.items() %}
						<tr>
							<td>{{user}}</td>
							<td>{{score}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
