{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body%}

<div class="mini-container">
	<div class="home">
		<img src="{{ url_for('static', filename='image/school_wise3.png') }}">
		<p>Start evaluating exams by clicking one of the options.</p>
		<div class="option">
			<div class="">
				<div class="">
					<a href="{{ url_for('views.disabled') }}">Use live camera</a>
				</div>
				<p>Use live camera or webcam for evaluating exam live.</p>
			</div>
			<div class="">
				<div class="">
					<a href="{{ url_for('process_file.upload_file') }}">Instant Evaluate</a>
				</div>
				<p>Use Instant Evaluation for a quick evaluation of exams that have previously been scanned.</p>
				<i>NOTE: Don't use this option for multiple evaluation.</i>
			</div>
			<div class="">
				<div class="">
				<a href="{{ url_for('process_file.upload_folder') }}">Multiple Evaluation</a>
				</div>
				<p>Use Multiple evaluation for evaluating a multiple amount of exams at once. By referring to a folder that has multiple exams already scanned.</p>
			</div>
		</div>
	</div>

</div>

{% endblock %}