
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body%}

<div class="mini-container">
	<div class="home">
		{% if display == 'back' %}
			<h2>Name: {{name}}</h2>
			<h2>Score: {{score}}/{{ans|length}}</h2>
			<div class="display">
				<img class="" src="data:image/jpeg;base64,{{ img }}" alt="Processed Image">
				<div>
					{% for x in range(ans | length) %}
					<h2>{{ loop.index }}. {{ ans[x] }}</h2>
					{% endfor %}
				</div>
			</div>
		{% elif display == 'front' %}
			<h2>Name: {{name}}</h2>
			<h2>Score: {{score}}/{{total_que}}</h2>
			<div class="display display_f">
				{% for x in img_list %}
					<img class="" src="data:image/jpeg;base64,{{ x }}" alt="Processed Image">
				{% endfor %}
			</div>
	{% endif %}
	</div>

</div>

{% endblock %}