
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body%}

<div class="mini-container">
	<div class="home">
		<h1 class="">Upload File/Folder</h1>
		<form method="POST" enctype="multipart/form-data">
			<h4>Enter the file path on the below input field</h4>

			<div class="file">
				<label for="file">Folder path:</label>
				<input type="text" id="file" class="custom-input" name="file"/>

				<label for="folder_file">Choose file:</label>
				<input type="file" name="file" id="folder_file">
			</div>
			<div class="id">
				<label for="student_id">Enter student Id:</label>
				<input type="number" name="student_id" id="student_id">
			</div>

			<input type="submit" value="Evaluate" class="btn btn-primary" multiple />
		</form>
	</div>

</div>

{% endblock %}