

{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block head %}
	{{ super() }}
	<style>
		.pro-img{
      position: relative;
      width: 250px;
      height: 700px;
      color: red;
			background: green;
		}
		.info-label{
			display: grid;
			grid-template-columns: 70% 30%;
			width: 100%;
			text-align: left;
		}
		.ingo-right{
			display grid;
		}
		.images{
			display: flex;
			gap: 1rem;
		}
	</style>
{% endblock %}

{% block body%}

<div class="">
	<h1 class="">Upload File/Folder</h1>
	<p class="">Start evaluating exams by clicking one of two buttons.</p>

	{% if display == False %}
		<form method="POST" enctype="multipart/form-data">
			<div class="file">
				<label for="file">Select folder:</label>
				<input type="text" id="file" name="file" value="C:\Users\Nahom tamirat.DESKTOP-O0JRFDT\Desktop\scan\IMG_20230602_125039.jpg"/>
			</div>
<!--				Dagim Bedlu Mamo , Helina Dawit Wondimu, Kalab Tamirat Kebede , IMG_20230602_125039-->
			<input type="submit" value="Evaluate" class="btn btn-primary" multiple />
		</form>
	{% elif display == True %}
		<div class="info-label">
			<img class="" src="data:image/jpeg;base64,{{ img }}" alt="Processed Image">
			<div>
				{% for x in range(ans | length) %}
				<h2>{{ ans[x] }}</h2>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>

{% endblock %}
<!--				<img class="pro-img" src="{{ url_for('process.process_img_folder_2') }}">-->

{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block head %}
	{{ super() }}
	<style>
		.pro-img{
      position: relative;
      width: 250px;
      height: 700px;
      color: red;
			background: green;
		}
		.info-label{
			display: grid;
			grid-template-columns: 70% 30%;
			width: 100%;
			text-align: left;
		}
		.ingo-right{
			display grid;
		}
		.images{
			display: flex;
			gap: 1rem;
		}
	</style>
{% endblock %}

{% block body%}

<div class="position-relative  p-3 p-md m-md-3 text-center bg-dark" style="color: white;">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<h1 class="display-4 font-weight-normal">Upload File/Folder</h1>
		<p class="lead font-weight-normal">Start evaluating exams by clicking one of two buttons.</p>

		{% if display == False %}
			<form method="POST" enctype="multipart/form-data">
				<div class="file">
					<label for="file">Select folder:</label>
					<input type="text" id="file" name="file" value="C:\Users\Nahom tamirat.DESKTOP-O0JRFDT\Desktop\scan\IMG_20230602_125039.jpg"/>
				</div>
<!--				Dagim Bedlu Mamo , Helina Dawit Wondimu, Kalab Tamirat Kebede , IMG_20230602_125039-->
				<input type="submit" value="Evaluate" class="btn btn-primary" multiple />
			</form>
		{% elif display == True %}
			<div class="info-label">
				<img class="" src="data:image/jpeg;base64,{{ img }}" alt="Processed Image">
				<div>
					{% for x in range(ans | length) %}
					<h2>{{ ans[x] }}</h2>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
	<div class="product-devices box-shadow d-none d-md-block"></div>
	<div class="product-devices product-device-2 box-shadow d-none d-md-block"></div>
</div>

{% endblock %}
<!--				<img class="pro-img" src="{{ url_for('process.process_img_folder_2') }}">-->
